$white: #ffffff;
$black: #000000;
$purple: #371687;

.nav-list {
	list-style-type: none;
	padding: 0;
	margin: 0;

	display: flex;
	flex-direction: column;

	&-item {
		margin-bottom: 24px;
	}

}


.link {
	padding: 8px 12px;
	color: $white;
	text-decoration: none;
	border-radius: 32px;

	&.active {
	background-color: $purple;
}
}

