html {
	font-size: 16px;
}

li {
	list-style-type: none;

	background: rgba(21, 20, 85, 0.7);
	padding: 0.2rem 2.5rem;
	padding-top: 20px;
	border-radius: 0.3rem;
	margin-bottom: 10px;
}

ul {
	list-style: none;
	padding-left: 0;
}

body {
	background-color: rgba(98, 95, 241, 0.635);
	margin: 0;
	font-family: sans-serif;
	color: white;
}

.container {
	width: 100%;
	margin: 3.2rem auto 0 auto;
}

.show {
	display: flex;
	flex-direction: column;
	margin-bottom: 30px;
}

@media (min-width: 300px) {
	.container {
		max-width: 300px;
	}
}

@media (min-width: 576px) {
	.container {
		max-width: 540px;
	}
}

@media (min-width: 768px) {
	.container {
		max-width: 720px;
	}
	.show {
		flex-direction: row;
	}
}

header {
	text-align: center;
	margin-bottom: 1.5rem;
}

h1 {
	font-weight: 400;
}

#survey-form,
.show {
	background: rgba(21, 20, 85, 0.7);
	padding: 2.3rem 0.5rem;
	border-radius: 0.3rem;
}

.form-input {
	margin: 0 2.5rem 1.2rem 2rem;
}

.form-input-size {
	display: block;
	width: 10%;
	height: 1.5rem;
	padding: 0.3rem 0.4rem;
	border-radius: 0.2rem;
	outline: 0;
	border-style: none;
	margin-top: 0.4rem;
}

p {
	font-size: 1.12rem;
}

label {
	display: flex;
	align-items: center;
	font-size: 1.125rem;
	margin-bottom: 0.5rem;
}

textarea {
	width: 100%;
	min-height: 6rem;
	resize: vertical;
	padding: 0.5rem 0 0 0.5rem;
}

#submit {
	width: 100%;
	padding: 0.8rem;
	background: rgb(7, 173, 7);
	color: white;
	border-radius: 0.2rem;
	cursor: pointer;
	border: none;
}

li button {
	width: 70px;
	padding: 0.3rem;
	background: rgb(7, 173, 7);
	color: white;
	border-radius: 0.2rem;
	cursor: pointer;
	border: none;
	margin-bottom: 5px;
}

img {
	height: 300px;
	border-radius: 5px;
}
