@use 'utils/colors';

.main-layout-drawer {
	height: 100%;
}

.side-drawer {
	min-width: 264px;
	padding: 32px 32px 56px;

	.logo {
		margin-bottom: 80px;
	}

	.sidenav {
		flex: 1;
	}

	@media screen and (max-width: 960px) {
		background-color: colors.$purple;
	}
}

.content {
	padding: 32px;
}

.header {
	margin-bottom: 32px;

	display: flex;
	justify-content: space-between;
}

.side-container {
	height: 100%;
	display: flex;
	flex-direction: column;

	.log-out-btn {
		margin-top: auto;
		width: fit-content;
	}

	.close-btn {
		left: 160px;
	}
}
