<mat-card class="card">
	<form [formGroup]="addReviewFormGroup">
		<mat-form-field appearance="outline" class="review">
			<mat-label>Enter review</mat-label>
			<input matInput type="text" formControlName="comment" />
			<mat-error *ngIf="addReviewFormGroup.get('comment')?.errors?.required">Review is required</mat-error>
		</mat-form-field>

		<mat-form-field appearance="outline" class="rating">
			<mat-label>Rating</mat-label>
			<input matInput type="number" formControlName="rating" min="1" max="5" />
			<mat-error *ngIf="addReviewFormGroup.get('rating')?.errors?.required">Rating is required</mat-error>
		</mat-form-field>

		<button mat-raised-button color="primary" (click)="onReviewPost()" [disabled]="addReviewFormGroup.invalid">
			Post
		</button>
	</form>
</mat-card>
