<mat-card class="card">
	<app-logo></app-logo>
	<form [formGroup]="loginFormGroup">
		<mat-form-field appearance="outline">
			<mat-label>Email</mat-label>
			<input matInput type="email" formControlName="email" />
			<mat-icon matPrefix>person</mat-icon>
			<mat-error *ngIf="loginFormGroup.get('email')?.errors?.required">Email is required</mat-error>
		</mat-form-field>

		<mat-form-field appearance="outline">
			<mat-label>Password</mat-label>
			<input matInput type="password" formControlName="password" />
			<mat-icon matPrefix>lock</mat-icon>
			<mat-error *ngIf="loginFormGroup.get('password')?.errors?.required">Password is required</mat-error>
		</mat-form-field>

		<div class="btn-reg">
			<button mat-raised-button color="primary" (click)="onLoginUser()" [disabled]="loginFormGroup.invalid">
				Login
			</button>

			<p>Don't have an account? <a class="link" routerLink="/registration">Register</a></p>
		</div>
	</form>
</mat-card>
